.about{
  margin-top: 500px;
  width: 80%;
  text-align: center;
  margin: 5rem auto 0 auto;

  &_detail{
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;

    @include sp{
      display: block;
    }
    
    img{
      width: 45%;
      @include sp{
        width: 95%;
      }
    }

    p{
      width: 45%;
      text-align: center;

      @include sp{
        width: 95%;
        margin: 3rem auto 0 auto ;
      }
    }
  }
}