header {
  padding-top: 1rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
}

header ul li {
  padding-right: 4rem;
}

header ul li a {
  font-weight: bold;
}
