
.information{
  width: 80%;
  margin: 6rem auto 0 auto;

  @include sp{
    width: 90%;
  }

  h2{
    width: 100%;
    text-align: center;
  }

  .informations{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include sp{
      display: block;
    }

    .information_cards{
      width: 32%;

      @include sp{
        width: 100%;
        margin: 0 auto;

        &:not(:first-child){
          margin-top: 2rem;
        }
      }
    }
  }

}

.form{
  width: 100%;
  text-align: center;
  margin-top: 10rem;

  p{
    margin-top: 3rem;
  }

  input{
    width: 40%;
    line-height: 3.5rem;
    border-radius: 15px;
    border: 0.5px solid #333;
  }

  input:focus{
    background-color: rgba(135, 207, 235, 0.74);
    outline: none;
    padding-left: 1rem;
    border-color: gray;
    border-width: 1.2px;
  }

  .free_box{
    width: 25%;
    margin: 3rem auto 0 auto;
    background-color: rgb(240, 130, 116);
    line-height: 4rem;
    border-radius: 5px;

    a{
      color: whitesmoke;
      font-weight: bold;
    }
  }
}

@media screen and (max-width:800px){
  .form input{
    width: 70%;
  }
  .form .free_box{
    width: 70%;
  }
}

footer{
  margin-top: 8rem;
  width: 100%;
  text-align: right;
  background-color: rgb(192, 192, 192);
}